<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>Events</name>
	<key>event</key>
	<description>Create public and private events within your community, let people RSVP and discuss</description>
    <author>Oxwall Foundation</author>
    <authorEmail>plugins@oxwall.org</authorEmail>
	<authorUrl>http://www.oxwall.org/foundation</authorUrl>
	<developerKey>280770593b791296f4c9461cf44d402c</developerKey>
    <build>4991</build>
    <copyright>(C) 2009 Oxwall Foundation. All rights reserved.</copyright>
    <license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>
